<html>
    <head>
    </head>

    <body>
        <h1>Hello World</h1>
        <button onclick="getNumber()">get number</button>

        <script>
            function getNumber() {
                let request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState === XMLHttpRequest.DONE) {
                        let elem = document.createElement('p');
                        elem.innerHTML = "hiiii!!!";
                        document.body.appendChild(elem);
                    }
                };
                request.open("GET", "/random", true);
                request.send();
            }
        </script>
    </body>
</html>